.accountInfoContainer {
    display: grid;
    grid-template-columns: 10% 10% 30% 30% 10% 10%;
}

.accountInfoContainer h1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.chkoutBack {
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 10px o;


}

.customerInfoContainer {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgb(255, 255, 255, .6);
    padding: 30px;
    border: rgb(255, 140, 176) 1px solid;
}

.mailingAddressContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: gray;
    margin: 0 0 35px 0;
}

.shippingAddressContainer h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: gray;
    margin: 0 0 5px 0;
}
.mailingAddressContainer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: gray;
    margin: 0 0 20px 0;
}

.shippingAddressContainer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: gray;
    margin: 0 0 20px 0;
}

.shippingCheckBox {
    margin: 0 0 10px 0;
}


.updateForm {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    width:100%;

}

.contactInfo {
    grid-column-start: 1;
    grid-row-start: 1;

}

.mailingAddressContainer {
    grid-column-start: 1;
    grid-row-start: 2;
}
.shippingAddressContainer {
    grid-column-start: 2;
    grid-row-start: 2;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin: 0 0 0 10px;
    padding: 0 5px;
    border: none;
    border: lightgray 1px solid;
    border-radius: 3px;

}

label {
    font-size: .9em;
    margin:0;   
}

.updateBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    text-align: center;
    margin: 30px 0 0 0;
}

.updateBtn button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /* font-weight: 700; */
    background:white;
    color: rgba(255, 95, 145);
    border: none;
    padding: 5px 10px;
    border: rgba(255, 95, 145) 2px solid;
    border-radius: 5px;
    transition: 0.3s;
}
.updateBtn button:hover {
    cursor: pointer;
    background:rgba(255, 95, 145);
    color:white;
}
.updateBtn button:active {
    background-color: rgba(255, 95, 145, 0.5);
    color: white;
  }
.updateBtn button:focus {
    outline:none;
}
.updateBtn input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background:white;
    color: rgba(255, 95, 145);
    border: none;
    padding: 5px 10px;
    border: rgba(255, 95, 145) 2px solid;
    border-radius: 5px;
    transition: 0.3s; 
}
.updateBtn input:hover {
    cursor: pointer;
    background:rgba(255, 95, 145);
    color:white;
}
.updateBtn input:active {
    background-color: rgba(255, 95, 145, 0.5);
    color: white;
  }

.updateBtn input:focus {
    outline:none;
}

.contactInfo p {
    margin: 0;
    padding: 0;

}
.contactInfo {
    margin: 0 0 20px 0;
    padding: 0;

}
.mailingAddressContainer p {
    margin: 0;
    padding: 0;

}
.shippingAddressContainer p {
    margin: 0;
    padding: 0;

}

.mailingAddressContainer h2, .shippingAddressContainer h2 {
    text-align: center;

}

 .emailTextBox {
    display: inline-block;
    width: 175px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin: 0 0 0 10px;
    padding: 0 5px;
    border: none;
    border: lightgray 1px solid;
    border-radius: 3px;


 }

/* checkout pages */

.customerInfoContainerCheckout {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    background: rgb(255, 255, 255, .6);
    padding: 20px;
    border: rgb(255, 140, 176) 1px solid;
}
.circleNumber {
    background: rgb(255, 140, 176);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 10px;
    text-align: center;
    width: 1.6em; 

}

.updateFormCheckout {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0;
    width:100%;

}

.contactInfoCheckout {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    text-align: left;
    border-right: rgb(255, 140, 176) 1px solid;
    

}

.mailingAddressContainerCheckout {
    grid-column-start: 1;
    grid-row-start: 2;
    
}
.shippingAddressContainerCheckout {
    grid-column-start: 2;
    grid-row-start: 2;
    border-right: rgb(255, 140, 176) 1px solid;
}

.shippingInfoContainer {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 30px;
}
.customerInfoContainerCheckout h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: gray;
}

.labelTop {
    margin-top: 40px;
}
.shippingOptions {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1em;
    padding: 10px;
}
.shippingOptions p {
    margin: 0 0 15px;   
}
.shippingOptions p:nth-child(2) {
    margin: 0 0 25px;
}
.shippingOptions p:nth-child(3) {
    font-size: .8em;
}

.continueCheckoutBtn {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: center;
    margin: 70px 0 0 0;
    
}

.continueCheckoutBtn input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background:white;
    color: rgba(255, 95, 145);
    border: none;
    padding: 5px 10px;
    border: rgba(255, 95, 145) 2px solid;
    border-radius: 5px;
    transition: 0.3s;
    
}
.continueCheckoutBtn input:hover {
    cursor: pointer;
    background:rgba(255, 95, 145);
    color:white;
}
.continueCheckoutBtn input:active {
    background-color: rgba(255, 95, 145, 0.5);
    color: white;
  }

.continueCheckoutBtn input:focus {
    outline:none;
}

/* checkout final page */

.checkoutItemsTableContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    padding: 0 20px;
}
.cartMainTableCheckout {
    width: 100%;
    height: auto;
    font-size: .9em;
}
.cartMainTableCheckout thead tr{
    margin: 30px;

}
.cartMainTableCheckout thead th:nth-child(2){
    text-align: center;
}
.cartMainTableCheckout thead th:nth-child(3){
    text-align: center;
}
.cartMainTableCheckout thead th:nth-child(4){
    text-align: right;
}
.cartMainTableCheckout thead th:nth-child(5){
    text-align: right;
}
.cartMainTableCheckout td:nth-child(2){
    text-align: center;
}
.cartMainTableCheckout td:nth-child(3){
    width:10px;
    text-align: center;
}
.cartMainTableCheckout td:nth-child(4){
    width: 90px;
    text-align: right;
}
.cartMainTableCheckout td:nth-child(5){
    width: 80px;
    text-align: right;

}

.cartMainTableCheckout tr:last-child {
    text-align: left;
    font-size: 1.2em;
    padding-top: 30px;
}

.blankRow {
    height: 20px;
}

.shippingTo {
    font-size: .8em;
}

.paymentPaypalDivCheckout {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: right;
    margin: 20px 0 0 0;
    padding: 0 10px 0 0;
}
.paymentPaypalDivCheckout img {
    width: 300px;
    border: rgb(33, 86, 154, 0.3) 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 4px lightgray;
}
.paymentPaypalDivCheckout img:hover {
    opacity: 0.6;
}
.paymentPaypalDivCheckout img:active {
    width: 299px;
    box-shadow: none;
}
.paymentPaypalDivCheckout button {
    border: none;
    background: none;
    text-align: right;
    padding: 0;
}
.paymentPaypalDivCheckout button:hover {
    cursor: pointer;
}
.paymentPaypalDivCheckout button:focus {
    outline: none;
}

.shippingTextInst, .checkoutTextInst {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: gray;
}
.shippingTextInst2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0 0 20px;
    color: gray;
}





@media screen and (min-width: 1080px) and (max-width: 1250px) {
.accountInfoContainer {
    display: grid;
    grid-template-columns: 5% 10% 35% 35% 10% 5%;
}

}

@media screen and (min-width: 900px) and (max-width: 1079px) {
    .accountInfoContainer {
        display: grid;
        grid-template-columns: 2% 10% 38% 38% 10% 2%;
    }
    .customerInfoContainer {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    .chkoutBack {
        grid-column-start: 2;
        grid-row-start: 1;
    }

}

@media screen and (min-width: 650px) and (max-width: 900px) {

    .accountInfoContainer {
        display: grid;
        grid-template-columns: 2% 10% 38% 38% 10% 2%;
    }
    .contactInfoCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        border-right: none;
        
    }
    .mailingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        margin: 20px 0 0 0;
        
    }
    .shippingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        margin: 20px 0 0 0;
        border-right: none;
    }

    .shippingInfoContainer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 30px 0 0 0;
    }
    .continueCheckoutBtn {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        margin: 20px 0 0 0;
        
    }
    .labelTop {
        margin: 20px 0 0 0;
    }

    .customerInfoContainer {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .contactInfo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .chkoutBack {
        grid-column-start: 2;
        grid-row-start: 1;
    }

}


@media screen and (min-width: 450px) and (max-width: 650px) {

    .accountInfoContainer {
        display: grid;
        grid-template-columns: 2% 10% 38% 38% 10% 2%;
    }
    .accountInfoContainer h1{
        font-size: 1.5em;
        margin: 10px 0;
    }
    .contactInfoCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        border-right: none;
        
    }
    .mailingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        margin: 20px 0 0 0;
        
    }
    .shippingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        margin: 20px 0 0 0;
        border-right: none;
    }

    .shippingInfoContainer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 30px 0 0 0;
    }
    .continueCheckoutBtn {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        margin: 20px 0 0 0;
        
    }
    .labelTop {
        margin: 20px 0 0 0;
    }

    .customerInfoContainer {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .contactInfo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .chkoutBack {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .circleNumber {
        background: rgb(255, 140, 176);
        border-radius: 1em;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        width: 1.5em; 
    
    }
    .shippingTextInst, .checkoutTextInst {
        font-size: 1em;
        margin: 0 0 10px 0;
    }
    .shippingTextInst2 {
        font-size: 1em;
        margin: 0 0 10px 0;
    }

    .checkoutItemsTableContainer {
        padding: 0;
    }
    .cartMainTableCheckout thead th:nth-child(3){
        width: 50px;
        text-align: right;
    }
    .cartMainTableCheckout td:nth-child(3){
        width:50px;
        text-align: center;
    }
    /* .paymentPaypalDivCheckout {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        padding: 0;
        margin: 10px 0 0 0;
    } */
   
    .paymentPaypalDivCheckout img {
        width: 225px;
        /* text-align: right;   */
    }

    .mailingAddressContainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }
    .shippingAddressContainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .updateBtn {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
    }

    .mailingAddressContainer h3 {
        font-size: 1em;
        margin: 0 0 10px;
    }

    .shippingAddressContainer h3 {
        font-size: 1em;
        margin: 20px 0 10px 0;
    }
    .mailingAddressContainer h2 {
        font-size: 1em;
        margin: 0 0 10px 0;
    
    }
    .shippingAddressContainer h2 {
        font-size: 1em;
        margin: 20px 0 10px 0;
    
    }
   
}
@media screen and (max-width: 450px) {

    .accountInfoContainer {
        display: grid;
        grid-template-columns: 2% 10% 38% 38% 10% 2%;
    }
    .accountInfoContainer h1{
        font-size: 1.5em;
        margin: 10px 0;
    }
    .contactInfoCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        border-right: none;
        
    }
    .mailingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        margin: 20px 0 0 0;
        
    }
    .shippingAddressContainerCheckout {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        margin: 20px 0 0 0;
        border-right: none;
    }

    .shippingInfoContainer {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        margin: 30px 0 0 0;
    }
    .continueCheckoutBtn {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        margin: 20px 0 0 0;
        
    }
    .labelTop {
        margin: 20px 0 0 0;
    }

    .customerInfoContainer {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
    }

    .contactInfo {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .chkoutBack {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .circleNumber {
        background: rgb(255, 140, 176);
        border-radius: 1em;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 1.6em;
        width: 1.5em; 
    
    }
    .shippingTextInst, .checkoutTextInst {
        font-size: 1em;
        margin: 0 0 10px 0;
    }
    .shippingTextInst2 {
        font-size: 1em;
        margin: 0 0 10px 0;
    }

    .checkoutItemsTableContainer {
        padding: 0;
    }
    .cartMainTableCheckout thead th:nth-child(3){
        width: 50px;
        text-align: right;
    }
    .cartMainTableCheckout td:nth-child(3){
        width:50px;
        text-align: center;
    }
    .paymentPaypalDivCheckout {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        padding: 0;
        margin: 10px 0 0 0;
    }
   
    .paymentPaypalDivCheckout img {
        width: 225px;
        /* text-align: right;   */
    }

    .mailingAddressContainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    }
    .shippingAddressContainer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .updateBtn {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
    }

    .mailingAddressContainer h3 {
        font-size: 1em;
        margin: 0 0 10px;
    }

    .shippingAddressContainer h3 {
        font-size: 1em;
        margin: 20px 0 10px 0;
    }
    .mailingAddressContainer h2 {
        font-size: 1em;
        margin: 0 0 10px 0;
    
    }
    .shippingAddressContainer h2 {
        font-size: 1em;
        margin: 20px 0 10px 0;
    
    }
   
}


    