
.cartMain {
    min-height: 60vh;
}

.cartContainer {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
}

h1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
    margin: 20px 0 10px;
}
.cartContainer h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: rgba(255, 95, 145);
    text-align: center;
 }

.cartMainTable {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
}
.cartMainTable thead tr th{
    font-size: .8em;
    margin: 30px;

}
.cartMainTable thead th:nth-child(2){
    text-align: center;
}
.cartMainTable thead th:nth-child(3){
    text-align: center;
}
.cartMainTable thead th:nth-child(4){
    text-align: right;
    width: 80px;
}
.cartMainTable thead th:nth-child(5){
    text-align: right;
    width: 80px;
}
.cartMainTable td:nth-child(2){
    text-align: center;
}
.cartMainTable td:nth-child(3){
    text-align: center;
}
.cartMainTable td:nth-child(4){
    text-align: right;
}
.cartMainTable td:nth-child(5){
    text-align: right;
}

.cartMainTable tr:last-child {
    text-align: left;
    font-size: 1.2em;
    padding-top: 30px;
}

.cartDelete {
    text-align: left;
}

.delBtn {
    background:  none;
    border: none;
    font-size: 0.9em;
    padding: 0 3px;
    margin-bottom: 5px;
    color: gray;
    border: none;
    text-decoration: underline;
}
.delBtn:hover {
    cursor: pointer;
    color: rgba(255, 95, 145);
}
.delBtn:focus {
    outline:none;
}
.continueShoppingDiv {
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: right;
    margin: 20px 10px 0 0;
}
.paymentPaypalDiv {
    grid-column-start: 3;
    grid-row-start: 3;
    text-align: left;
    margin: 20px 0 0 10px;
}

.continueShoppingBtn, .paymentPaypalDivBtn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background:white;
    color: rgba(255, 95, 145);
    border: none;
    padding: 5px 10px;
    border: rgba(255, 95, 145) 2px solid;
    border-radius: 5px;
    transition: 0.3s;
}

.continueShoppingBtn:hover, .paymentPaypalDivBtn:hover {
    cursor: pointer;
    background:rgba(255, 95, 145);
    color:white;
}

.continueShoppingBtn:active, .paymentPaypalDivBtn:active {
    background-color: rgba(255, 95, 145, 0.5);
    color: white;
  }
.continueShoppingBtn:focus, .paymentPaypalDivBtn:focus {
    outline:none;
}

/* checkout */

h3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
    margin: 0 0 20px 0;
}
.confirmationMainTable {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    font-family: 'Montserrat', sans-serif;
}
.confirmationClientInfo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    margin: 0 0 30px 0;
}

.confirmationClientInfo p{
    color: black;
    margin:0;
}
.confirmationClientInfo p:nth-child(1){
    text-align: right;
}

.confirmationMainTable thead tr th{
    font-size: .8em;
    margin: 30px;
}
.confirmationMainTable thead th:nth-child(2){
    text-align: center;
}
.confirmationMainTable thead th:nth-child(3){
    text-align: center;
}
.confirmationMainTable thead th:nth-child(4){
    text-align: right;
    width: 80px;
}
.confirmationMainTable thead th:nth-child(5){
    text-align: right;
    width: 80px;
}
.confirmationMainTable td:nth-child(2){
    text-align: center;
    font-size: .9em;
}
.confirmationMainTable td:nth-child(3){
    text-align: center;
    font-size: .9em;
}
.confirmationMainTable td:nth-child(4){
    text-align: right;
    font-size: .9em;
}
.confirmationMainTable td:nth-child(5){
    text-align: right;
    font-size: .9em;
}

.confirmationMainTable tr:last-child {
    text-align: left;
    font-size: 1.2em;
    padding-top: 30px;
}
 .printBtn {
    grid-column-start: 3;
    grid-row-start: 5;
    text-align: right;
    margin-top: 20px;
 }

 .printBtnForm {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 700;
    background:white;
    color: rgba(255, 95, 145);
    border: rgba(255, 95, 145) 2px solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.printBtnForm:hover{
    cursor: pointer;
    background: rgba(255, 95, 145, 0.8);
    color: white;

}
.printBtnForm:focus{
    outline: none;

}




@media screen and (min-width: 900px) and (max-width: 1080px) {

.cartContainer {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
 }

}

@media screen and (min-width: 650px) and (max-width: 900px) {

    .cartContainer {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        
     }
     .cartMainTable {
        margin-top: 30px;
    
    }

}
@media screen and (max-width: 650px) {

    .cartContainer {
        display: grid;
        grid-template-columns: 3% 47% 47% 3%;
        
     }
     .cartMainTable {
        margin-top: 30px;
    
    }
    .cartContainer h1 {
        font-size: 1.2em;
        margin: 20px 0 10px;
     }
    .cartMainTable {
        font-size: .8em;
    }
    .cartMainTable thead th:nth-child(3){
        width: 30px;
        text-align: right;
    }
    .cartMainTable td:nth-child(3){
        text-align: right;
    }
    .cartMainTable thead th:nth-child(4){
        text-align: right;
        width: 80px;
    }
    .cartMainTable thead th:nth-child(5){
        text-align: right;
        width: 50px;
    }
    .cartMainTable tr:last-child {
        text-align: left;
        font-size: 1em;
        padding-top: 10px;
    }

    .continueShoppingBtn, .paymentPaypalDivBtn {
        font-size: .7em;
        border: rgba(255, 95, 145) 1.5px solid;
    }
   

}