


.menu-btn {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 7px;
    cursor: pointer;
    border: white 2px solid;
    /* background: white; */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 37px;
    height: 36px;
    padding: 8px 0 0 0;
    visibility: hidden;
    /* transition: all 0.5s ease-out;  */
  }
.menu-btn2 {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 45px;
    cursor: pointer;
    border: white 2px solid;
    /* background: white; */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 37px;
    height: 36px;
    padding: 8px 0 0 0;
    visibility: hidden;
    /* transition: all 0.5s ease-out;  */
  }

.btn-line {
    width: 18px;
    height: 3px;
    margin: 0 0 4px 7px;
    background:white;
    text-align: center;
  }

  .search-menu-slide {
    visibility: hidden;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    padding: 5px 0 0 0;
   
  }
  .search-menu-slide2 {
    visibility: hidden;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    padding: 5px 0 0 0;
   
  }
  .searchBtn-slide {
      background: none;
      color: white;
      border: none;
      font-family: 'Acme', sans-serif;
      cursor: pointer;



  }

  @media screen and (min-width: 900px) and (max-width: 1080px){

    .search-menu-slide {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
      }
  }


@media screen and (min-width: 650px) and (max-width: 900px){

     .menu-btn {
        visibility: visible;
        transition: all 0.5s ease-out; 
    }

      .menu-btn2 {
        visibility: visible;
        transition: all 0.5s ease-out; 
    }
    .show {
        visibility: visible;
      }

      .btn-line {
        text-align: center;
      }
      .search-menu-slide {
        visibility: visible;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        text-align: left;

      }
      .search-menu-slide2 {
        visibility: visible;
        text-align: center;
      }
      .searchText {
        width: 150px;


      }
      .searchLink {
          visibility: hidden;
      }
      .menu-bar-slide {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 48px;
        align-items: center;
        justify-content: center;
        float: left;
        width: 0;
        height: 225px;
        overflow: hidden; 
        background: white;
        visibility: hidden;
        transition: all 0.2s ease-in; 
    
      }
      .menu-bar-slide2 {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 95px;
        align-items: center;
        justify-content: center;
        float: left;
        width: 0;
        height: 225px;
        overflow: hidden; 
        background: white;
        visibility: hidden;
        transition: all 0.2s ease-in; 
    
      }
      .menu-btn.show {
        transform: rotate(90deg)
      }

      .menu-btn.show .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px); 
      }
        .menu-btn.show .btn-line:nth-child(2) {
        opacity: 0; 
      }
        .menu-btn.show .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px); 
      }

      .menu-btn2.show {
        transform: rotate(90deg)
      }

      .menu-btn2.show .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px); 
      }
        .menu-btn2.show .btn-line:nth-child(2) {
        opacity: 0; 
      }
        .menu-btn2.show .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px); 
      }
  

      .menu-bar-slide.show {
        visibility: visible; 
        width: 175px;
      }
      .menu-bar-slide2.show {
        visibility: visible; 
        width: 175px;
      }

      .menuContainer {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        border: rgb(255, 140, 176, 0.7) 1.5px solid;
        box-shadow: 1px 1px 5px rgba(95, 95, 95, 0.4);
    }

    .mainLinks {
        grid-column-start: 1;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s;
        transition-timing-function: ease-in-out;
        
    }
    .mainLinks.show {
        visibility: visible; 
        opacity: 1;
    }

}

@media screen and (max-width: 650px){
    .menu-btn {
      visibility: visible;
      transition: all 0.5s ease-out; 
  }

    .menu-btn2 {
      visibility: visible;
      transition: all 0.5s ease-out; 
  }
  .show {
      visibility: visible;
    }

    .btn-line {
      text-align: center;
    }
    .search-menu-slide {
      visibility: visible;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      text-align: right;

    }

    .searchBtn-slide {
      background: none;
      color: white;
      border: none;
      font-family: 'Acme', sans-serif;
      cursor: pointer;
      font-size: .8em;
      margin: 0;
      /* padding-bottom: 10px; */
    }

    .search-menu-slide2 {
      visibility: visible;
      text-align: right;
      margin: 5px 0px;
    }

    .searchText {
      width: 100px;
      height: 17px;
      margin: 0 0 10px 0;
      font-size: .5em;


    }
    .searchLink {
        visibility: hidden;
    }
    .menu-bar-slide {
      position: absolute;
      z-index: 3;
      left: 0;
      top: 50px;
      align-items: center;
      justify-content: center;
      float: left;
      width: 0;
      height: 190px;
      overflow: hidden; 
      background: white;
      visibility: hidden;
      transition: all 0.2s ease-in; 

    }
    .menu-bar-slide2 {
      position: absolute;
      z-index: 3;
      left: 0;
      top: 90px;
      align-items: center;
      justify-content: center;
      float: left;
      width: 0;
      height: 190px;
      overflow: hidden; 
      background: white;
      visibility: hidden;
      transition: all 0.2s ease-in; 

    }
    .menu-btn.show {
      transform: rotate(90deg)
    }

    .menu-btn.show .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px); 
    }
      .menu-btn.show .btn-line:nth-child(2) {
      opacity: 0; 
    }
      .menu-btn.show .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); 
    }

    .menu-btn2.show {
      transform: rotate(90deg)
    }

    .menu-btn2.show .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px); 
    }
      .menu-btn2.show .btn-line:nth-child(2) {
      opacity: 0; 
    }
      .menu-btn2.show .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px); 
    }

    .menu-bar-slide.show {
      visibility: visible; 
      width: 175px;
    }
    .menu-bar-slide2.show {
      visibility: visible; 
      width: 175px;
    }

    .menuContainer {
      display:grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      border: rgb(255, 140, 176, 0.7) 1.5px solid;
      box-shadow: 1px 1px 5px rgba(95, 95, 95, 0.4);
  }

  .mainLinks {
      grid-column-start: 1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s;
      transition-timing-function: ease-in-out;
      
  }
  .mainLinks.show {
      visibility: visible; 
      opacity: 1;
  }


}
