
.searchViewItemContainer h1{
    font-family: 'SmoothieShoppe';
    padding: 20px 0 25px 10px;
    margin: 0;
    color: #ff8cb0;
}

.sideViewItemContainer {
    float:left;
    width: 20%;
    margin: 0 30px;
    text-align: center;
}
.sideCardItem {
    padding: 10px 5px;
    margin: 0 0 10px 0;
}
.insideImg:hover {
    opacity: 0.8;
    cursor: pointer;
}
.btnCard:focus {
    outline:none;

}
.sideCardItem img:active {
    box-shadow:none;
}

.sideCardItem img {
    width: 100%;
    height: auto;
    border: rgb(255, 255, 255) 10px solid;
    box-shadow: 3px 3px 12px rgb(0, 0, 0, .3);
}
.searchResult {
    float:left;
    width:67%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 20px;
}
 
 .searchItems {
     text-align: center;
     background: rgb(255, 255, 255, .6);
     border: rgb(255, 140, 176, .7) 1.5px solid;
     border-radius: 10px;
}
 .searchItems p {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.1em;
    padding: 5px 0;
    margin: 0;
    color: rgb(0, 0, 0, .6);
    font-weight: 700;
}

.imgSearchView {
    width: 200px; 
    border: rgb(255, 140, 176, .7) 1.5px solid;
    border-radius: 20px 0;
    margin: 0 0 30px;
}

.searchItemsDiv {
    position: relative;
    width: 100%;
  }

.searchItems {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.overlay{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
    border: #ff8cb0 2px solid;
    transition: .5s ease;
    z-index:1;
}

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index:3;
  }

  .searchItemsDiv:hover .overlay {
    opacity: .9;
    cursor: pointer;
  }
  
  .searchItemsDiv:hover .middle {
    opacity: 1;
    top: 50%;
  }
  
  
.itemInfoPrice {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
    width: 200px;
}
.itemInfoPrice p:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: gray;
    font-weight: 700;
    margin:0;
    padding: 5px;

}
.itemInfoPrice p:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;   
    color: gray;
    margin:0;
    padding: 5px;

}

.itemInfo {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    width: 50%;
    border: none;
    background: rgb(255, 255, 255, .9);
    color: #ff8cb0;
    border: #ff8cb0 2px solid;
    text-decoration: none;
    border-radius: 8px;
}
.itemInfo a {
    color: white;
    text-decoration: none;
    
}
.itemInfo:hover {
    cursor: pointer;
    background: #ff8cb0;
    color: white;
 } 
.itemInfo:focus {
   outline: none;

 } 

 .mainContainer::after {
    content: "";
    display: block;
    clear: both;
  }
