
.showItemContainer {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    
}

.showItemTitle {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    font-family: 'SmoothieShoppe';
    margin: 20px 0 30px 0;
    font-size: 2.5em;
    color:  rgb(255, 140, 176);
    text-align: center;
    padding:5px;
}

.showItemImg {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 70% auto;
    margin: 0 20px 0 0;
}

.insideImgContainer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 550px;
    background: white;
    padding: 10px 20px;
    border: rgb(255, 140, 176, 0.5) 1.5px solid;
    text-align: center;
   
}
.showThumbnail1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    text-align: right;
    margin: 10px 5px 0 0;
}
.showThumbnail2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    text-align: left;
    margin: 10px 0 0 5px;
}

.showImgDiv  img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10px;
}
.thumbnail {
    width: 100px;
    border: rgb(255, 140, 176) 2px solid;
    border-radius: 10px;
}
.thumbnail:hover {
    cursor:pointer;
    opacity:.8;
}

.showImgDiv {
    position: relative;
    width: 375px;
    height:auto;
    margin: 0 auto;
}   

img.picture1 {
    position: absolute; 
    left: 0;
    transition: transform .3s;

}
img.picture2 {
    position: absolute; 
    left: 0;
    transition: transform .3s;

}

img.hidden {
    visibility: hidden;
}
img.picture1:hover {
    cursor: zoom-in;
}
img.picture1:active {
    cursor: zoom-out;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
img.picture2:hover {
    cursor: zoom-in;
}
img.picture2:active {
    cursor: zoom-out;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.showItemDescription {
    grid-column-start: 3;
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 12% 12% 13% 18% 45%;
    background: rgb(255, 255, 255, 0.7);
    border: rgb(255, 140, 176, 0.5) 1.5px solid;
    padding: 20px;
    width: 100%;
    height: 550px;


}

.showItemDescriptionTitle {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    text-align: left;
    font-weight: 500;   
    color: rgb(71, 71, 71);
    margin: 0;
}

ul, li {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    margin: 0;
    padding: 0;
    color: rgb(71, 71, 71);
}

.starReviewDiv {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding: 10px 0;
}

.reviewImgTop {
    width: 100px;
}

.checked {
    color: orange;
  }

.starReviewDiv a{
   text-decoration: none;
}

.showItemDescriptionText {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    color: rgb(71, 71, 71);;
}

.showItemPrice{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: rgb(71, 71, 71);;
    margin:0;
}

.showItemForm {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    display:grid;
    grid-template-columns: 10% 25% 30% 35%;
    grid-template-rows: 15% 15% 15% 15% 40% ;
    margin: 20px 0 0 0;
    width: 100%;;
    height: 100%;


}
.showItemText1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 5px 10px 0 0;
    text-align: right;
    color: rgb(71, 71, 71);;

}
.showItemText2 {
    grid-column-start: 1;   
    grid-column-end: 2;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 5px 10px 0 0;
    text-align: right;
    color:rgb(71, 71, 71);  

}

.showItemSelectQty {
    grid-column-start: 4;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    width: 60px;
    height: 30px;
    border: rgb(255, 140, 176) 1px solid;
    border-radius: 4px;
    color:rgb(71, 71, 71);
    padding-left: 15px;
}
.showItemSelectSize {
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    width: 120px;
    height: 30px;
    border: rgb(255, 140, 176) 1px solid;
    border-radius: 4px;
    color:rgb(71, 71, 71);;
    padding-left: 5px;
}

.showItemSelectQty:focus {
    outline: none;
}
.showItemSelectSize:focus {
    outline: none;
}

.showItemForm input {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    font-family: 'Homenaje', sans-serif;
    font-size: 1.5em;
    border: none;
    background: white;
    border: rgb(255, 140, 176) 3px solid;
    color: rgb(255, 140, 176);
    text-decoration: none;
    margin: 20px 0;
    border-radius: 4px;
    height: 50px;
    transition: .3s;


}
.showItemForm input:hover {
    cursor: pointer;
    background: rgb(255, 140, 176);
    color: white;
 } 
.showItemForm input:focus {
   outline: none;
 } 
.showItemForm input:active {
    background: rgb(253, 67, 126);
 } 

 .itemFullDescription {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;


 }

 .showBtns {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    margin: 20px 0;

 }

 .reviewBtn {
    grid-column-start: 1;
    grid-row-start: 1;
    border: none;
    background: none;
    text-decoration: none;
 }

 .reviewBtn img {
    width: 70px;
    height: auto;
 }
 .wishlistForm {
     grid-column-start: 3;
     grid-row-start: 1;
     text-align: right;

 }
 .wishlistBtn {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.5em;
    border: none;
    background: none;
    color: white;
    text-decoration: none;
 }

 .wishlistImg {
     width:30px;
 }
 .goBackBtn {
    grid-column-start: 2;
    grid-row-start: 1;
    border: none;
    background:none;
    text-decoration: none;
    text-align: left;
 }

 .goBackBtn img {
    width: 40px;
    height: auto;
 }

 .reviewBtn:hover {
    cursor: pointer;
 } 
 .wishlistBtn:hover {
    cursor: pointer;
 } 
 .goBackBtn:hover {
    cursor: pointer;
 } 
 .reviewBtn:focus {
    outline:none;
 } 
 .wishlistBtn:focus {
    outline:none;
 } 
 .goBackBtn:focus {
    outline:none;
 } 

 .itemFullDescription {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    background: white;
    margin: 20px 0 0;
    padding: 0 20px 20px 20px;
    border: rgb(255, 140, 176, 0.5) 1.5px solid;
    
 }
 .itemReviews {
     margin: 20px 0;
     border-top: rgb(255, 140, 176, 0.5) 1.5px solid;

 }

 .itemFullDescription h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-align: left;
    margin: 20px 0 10px;

 }
 .reviewItemBtn {
     width: 150px;
     height: 40px;
     font-size: .8em;
     border: none;
     color: gray;
     background: white;
     text-decoration: underline;

 }
 .reviewItemBtn:hover {
    cursor: pointer;
 }
 .reviewItemBtn:focus {
    outline:none;
 }

 .reviewImg {
    width:60px; 
 }

 .reviewFormDiv {
    display: none;
    width: 100%;
 }

 .reviewForm {
     display: grid;
     grid-template-columns: 50% 50%;
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
     text-align: left;
 }

 .starReviewEntry {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    margin: 0 0 10px 0;
 }

 .starBtn {
     background: none;
     border: none;
     padding:0;
     margin:0;
 }
.reviewNameP {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin: 5px 0;
 }
.reviewName {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 300px;
    height: 30px;
    margin: 0 0 5px 60px;
    border-radius: 5px;
}
.reviewName:focus{
    outline:none;
}

.reviewTitleP {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    margin: 5px 0;
 }
 .reviewTitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 400px;
    height: 30px;
    margin: 0 0 5px 60px;
    border-radius: 5px;
 }
 .reviewTitle:focus{
     outline:none;
 }
 .reviewTextP {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    margin: 5px 0;
    
 }
.reviewText {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    border-radius: 5px;
    
 }
 .reviewText:focus{
    outline:none;
}

 
.reviewSubBtn {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 10px 0;
    width: 100px;
    border-radius: 5px;
    padding: 3px 0 0 0;
    background: white;
    border: rgb(255, 140, 176) 2px solid;
 }
 .reviewSubBtn:hover {
    cursor:pointer;
    background: rgb(255, 140, 176);
    color: white;
 }
 .reviewSubBtn:focus {
    outline:none;
 }
 
 .reviewSubBtn:active {
   background: rgb(250, 83, 136);
   color: white;
 }
 
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: none;
}

#starReview label {
    display: inline-block;
    cursor: pointer;
}

#starReview label img {
    padding: 3px;
}

.starIcon {
    font-size: 1.2em; 
}


.reviewItem {
    border-bottom: lightgray 1.5px solid;
    margin: 5px 0;
    padding-bottom: 5px;
}

.ratingStarImg {
    width: 80px;
}

.reviewItem p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin:0;
    padding:0;
}
.reviewItem h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    margin:5px 0;
    padding:0;
}


@media screen and (min-width: 900px) and (max-width: 1080px) {
    .showItemContainer {
        display: grid;
        grid-template-columns: 3% 47% 47% 3%;
        
    }
    .showImgDiv {
        position: relative;
        width: 330px;
        height:auto;
        margin: 0 auto;
    }
    .showItemDescription {
        grid-column-start: 3;
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: 12% 12% 13% 18% 45%;
    }
    .showItemForm {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
        display:grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 15% 15% 15% 15% 40% ;
    }
    .showItemText1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        margin: 0 0 20px 20px;
    
    }
    .showItemText2 {
        grid-column-start: 1;   
        grid-column-end: 1;
        grid-row-start: 3;
        margin: 0 0 20px 20px;
    }
    
    .showItemSelectQty {
        grid-column-start: 2;
        grid-row-start: 3;
        margin-left: 0;
    }
    .showItemSelectSize {
        grid-column-start: 2;
        grid-row-start: 2;
        margin-left: 0;
    }
    .showItemImg {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 60% auto;
    }

}

@media screen and (min-width: 600px) and (max-width: 900px) {

    .showItemContainer {
        display: grid;
        grid-template-columns: 2% 48% 48% 2%;
        
    }
    .showItemImg {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;

    }

    .showItemDescription {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        margin-top: 20px;
    }
    .itemFullDescription {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;

     }
     .showItemTitle {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        margin: 20px 0 30px;
        font-size: 2em;
        }

    }

