html {
    box-sizing: border-box;
    height: 100%;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    background-image: url("/images/lightgray.jpg");
    /* background-size: cover; */
    background-attachment: fixed;
    /* background: rgb(235, 235, 235); */
    margin: 0;
}

@font-face {
    font-family: 'SmoothieShoppe';
    src: url('fonts/SmoothieShoppe.ttf');
  }

  main {
    margin: 0;
    padding:0;
  }

header {
    background: white;
}

.navbarEmma{
    background: rgb(255, 140, 176);
    display:grid;
    grid-template-columns: 5% 65% 15% 5% 5% 5%;
    margin: 0;
    padding:0;
    /* border-bottom: rgb(0, 0, 0, 0.7) 1px solid; */

}

.horizontal_dotted_line{
    grid-column-start: 1;
    grid-column-end: 7;
    position: absolute;
    top: 5px;
    border-bottom: 2px dashed white;
    width: 100%;
    /* padding-bottom: 40px; */
  } 
.horizontal_dotted_line2 {
    grid-column-start: 1;
    grid-column-end: 7;
    position: absolute;
    top: 73px;
    border-bottom: 2px dashed white;
    width: 100%;
    /* padding-bottom: 40px; */
  } 

.navbarEmma h2 {
    grid-column-start: 2;
    /* font-family: 'SmoothieShoppe';
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black; */
    margin: 0;
    padding: 15px 20px 20px;
    font-weight: 500;
    opacity: 0.9;
}

.navbarEmma h2 a{
    text-decoration: none;
    font-family: 'SmoothieShoppe';
    font-size: 1.1em;
    color: white;
    text-shadow: 1px 1px black;
    

}

.navContainerEmma {
    grid-column-start: 3;
    text-align: right; 
}
/* dropdown menu */

.dropbtnEmma {
    background-color: rgb(255, 140, 176, 0);
    color: white;
    padding: 40px 20px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  /* .dropdown {
    position: relative;
    display: inline-block;
  } */
  
  .dropdownEmma-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255, .9);
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin-left: 100px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: rgb(0, 0, 0, .3) .5px solid;
    text-align: center;
    
  }
  
  .dropdownEmma-content a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #ff8cb0;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownEmma-content a:hover {
    color: #ff8cb0;
    text-decoration: none;
  }
  
  .dropdownEmma:hover .dropdownEmma-content {
    display: block;
  }

  .dropbtnEmma:focus {
      outline:none;
  }

  
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

.cartDiv {
    grid-column-start: 4;
    grid-row-start: 1;
    /* background-color: rgb(255, 140, 176, .7.3); */
    color: white;
    padding: 32px 25px 0 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center; 
    margin: 0;
}
.cartCounter {
    /* grid-column-start: 4; */
    /* float: right; */
    /* padding-right: 0;
    padding-bottom: 0; */
    position: absolute;
    margin: 0 30px 0 0;
    padding: 0 5px;
    font-size: .8em;
    font-weight: 600;   
    font-family: 'Acme', sans-serif;
    color:#ff8cb0;
    background: white;
    border-radius: 50%;

}
.cartDiv a {
    margin: 0;
}

.wishList{
    padding: 30px 0 0 0;
    grid-column-start: 5;

}

.mainLogo {
    background-image: url("/images/lightgray.jpg");
    margin:0;
    padding: 25px 0 30px;
    text-align: center;

}
.logoImg {
    width: 400px;
    height: auto;
    margin:0;
    padding:0;

}



.menuContainer {
    display:grid;
    grid-template-columns: 5% 60% 30% 5%;
    /* padding: 2px 0 2px 0; */
}
.mainLinks {
    grid-column-start: 2;

}
.skirtLink {
    /* grid-column-start: 2;
    grid-row-start: 1; */
    float:left; 
    text-align:center;
}
.suspenderSkirtLink {
    /* grid-column-start: 2;
    grid-row-start: 1; */
    float:left; 
    text-align:center;
}
.outfitLink {
    /* grid-column-start: 2;
    grid-row-start: 1; */
    float:left; 
    text-align:center;
}
.bloomerLink {
    /* grid-column-start: 2;
    grid-row-start: 1; */
    float:left; 
    text-align:center;
}
.girlShirtLink {
    /* grid-column-start: 2;
    grid-row-start: 1; */
    float:left; 
    text-align:center;
}
.boyShirtLink {
    /* grid-column-start: 2;
    grid-row-start: 2; */
    float:left; 
    text-align:center;
}
.searchLink {
    /* grid-column-start: 3; */
    float:left; 
    text-align:center;
}

.btnMenu {
    background: white;
    font-family: 'Acme', sans-serif;
    font-size: 1em;
    border: none;
    color: #ff8cb0;
    padding: 10px 10px 0;

}
.btnMenu:hover{
    cursor: pointer;
    color: rgb(255, 140, 176, .7);

}
.btnMenu:focus{
    outline:none;
}


.searchBtn {
    /* width: 60px;
    height: 25px; */
    background-color: white;
    border: none;
    font-family: 'Acme', sans-serif;
    color: #ff8cb0;
    font-size: 1.2em;
    /* padding:5px 0; */
}

.searchBtn:hover{
    cursor: pointer;
    color: rgb(255, 140, 176, .7);
}

.searchBtn:focus{
    outline:none;
}

.searchText {
    border: #ff8cb0 1px solid;
    font-family: 'Montserrat', sans-serif;
    color: #ff8cb0;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 6px 0;

}
.searchText:focus{
    outline:none;
}

/* main page */

/* carousel */

.carouselContainer {
    border-top: rgb(255, 140, 176) 2px solid;
    border-bottom: rgb(255, 140, 176) 2px solid;


}


/* //cards main page */

.cardContainer {
    display:grid;
    grid-template-columns: 10% 25% 25% 25% 10%;
    grid-gap: 10px;
    margin: 20px 0;
    padding:0;

}

.cardItem{
    background: white;
    width: 375px;
    height: 500px;
    border: rgb(255, 140, 176, .5) 10px solid;
    padding:10px;
    width: 100%;
    height: 100%;
}

.imgCard {
    width: 100%;
    height: 100%;

}
.imgCard:hover {
    opacity:.8 ;
    /* transition: .3s ease; */
    /* transition-timing-function: ease-in; */
    cursor: pointer;

}
.skirtCard, .btnCard{
    margin: 0;
    padding: 0;
    border: none;


}

.card1 {
    grid-column-start: 2;   
    
}
.card2 {
    grid-column-start: 3;
  
}
.card3 {
    grid-column-start: 4;

}


/* footer */

.footerContainer {

    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    /* grid-column-gap: 10px; */
    margin-top: 50px;
    padding: 20px;
    background: lightgray;
    text-align: justify;
}

.footerContainer h1 {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    font-family: 'SmoothieShoppe';
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black;

    
}
.footerContainer h3 {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 1em;
    color: white;

}

.footerItem {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: white;
    margin:0;

}

.footerText1 {
    grid-column-start: 2;

}
.footerText2 {
    grid-column-start: 3;

}
.footerText3 {
    grid-column-start: 4;

}


/* login page */
.loginContainer {
    min-height: 350px
}

.loginCard {
    margin-top: 50px;
}
.loginCardTitle {
    background: rgb(255, 140, 176);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color:white;
}


.loginBtn {
    background: rgb(255, 140, 176);
    border:none;
    font-family: 'Montserrat', sans-serif;

}
.loginBtn:hover {
    background: rgb(255, 140, 176, 0.6);
    border:none;

}

.loginBtnLink {
    color: black;
}

.loginBtnLink:hover {
    color: black;
}

/* .test:focus {
    outline: none !important;
  }  */
  .form-control:focus {
    border-color: rgb(255, 140, 176, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255, 140, 176, 0.5);
  }


/* logout page form */

/* 
.searchBtn {
    width: 60px;
    height: 25px;
}
.searchBtn {
    width: 60px;
    height: 25px;
    background-color: white;
    border: none;
}

.searchBtn:hover{
    cursor: pointer;
} */
/* .searchBtnMenu:focus{
    cursor: pointer;
} */






/* font-family: 'Patua One', cursive;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Mukta Malar', sans-serif; */