html {
    box-sizing: border-box;
    height: 100%;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }

body {
    background-image: url("/images/lightgray.jpg");
    background-attachment: fixed;
    margin: 0;
}

@font-face {
    font-family: 'SmoothieShoppe';
    src: url('fonts/SmoothieShoppe.ttf');
  }

  main {
    margin: 0;
    padding:0;
  }

header {
    background: white;
}


.navbarEmma{
    background: rgb(255, 140, 176);
    display:grid;
    grid-template-columns: 5% 60% 15% 20%;
    margin: 0;
    padding:0;
}

.horizontal_dotted_line{
    grid-column-start: 1;
    grid-column-end: 5;
    position: absolute;
    top: 3px;
    border-bottom: 2px dashed white;
    width: 100%;
  } 
.horizontal_dotted_line2 {
    grid-column-start: 1;
    grid-column-end: 5;
    position: absolute;
    top: 44px;  
    border-bottom: 1.5px dashed white;
    width: 100%;   
  }     
.horizontal_dotted_line2A { 
    grid-column-start: 1;
    grid-column-end: 5;
    position: absolute;
    top: 88px;
    border-bottom: 1.5px dashed white;
    width: 100%;
  } 

.logginIconImg {
    width:25px;
    padding: 0 0 8px 0;
}

.navbarEmma h2 {
    grid-column-start: 2;
    margin: 0;
    padding: 15px 20px 20px;
    font-weight: 500;
    opacity: 0.9;
}

.navbarEmma h2 a{
    text-decoration: none;
    font-family: 'SmoothieShoppe';
    font-size: 1.1em;
    color: white;
    text-shadow: 1px 1px black;
}

.navContainerEmma {
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 0;
    text-align: right;
    width: 100%;
}
/* dropdown menu */

.dropbtnEmma {
    background-color: rgb(255, 140, 176, 0);
    color: white;
    padding: 20px 10px 8px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 5;
    margin:0;
    text-align: right;

  }

.dropbtnEmma2 {
    background-color: rgb(255, 140, 176, 0);
    color: white;
    padding: 60px 10px 8px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 5;
  }
  
  .dropdownEmma {
    grid-column-start: 1;
    position: relative;
    text-align: right;
    margin:0;
  }
  .dropdownEmma2 {
    grid-column-start: 1;
    position: relative;
  }
  
  .dropdownEmma-content {
    display: none;
    position: absolute;
    right:0;
    background-color: rgb(255, 255, 255, .9);
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin: -5px 0 0 0;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border: rgb(0, 0, 0, .3) .5px solid;
    text-align: center;
    
  }
  .dropdownEmma-content2 {
    display: none;
    position: absolute;
    right:0;
    background-color: rgb(255, 255, 255, .9);
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    margin: -5px 0 0 0;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    border: rgb(0, 0, 0, .3) .5px solid;
    text-align: center;
    
  }
  
  .dropdownEmma-content a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #ff8cb0;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  .dropdownEmma-content2 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #ff8cb0;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownEmma-content a:hover {
    color: #ff8cb0;
    text-decoration: none;
  }
  .dropdownEmma-content2 a:hover {
    color: #ff8cb0;
    text-decoration: none;
  }
  
  .dropdownEmma:hover .dropdownEmma-content {
    display: block;
  }
  .dropdownEmma2:hover .dropdownEmma-content2 {
    display: block;
  }

  .dropbtnEmma:focus {
      outline:none;
  }

.cartDiv {
    grid-column-start: 4;
    grid-row-start: 1;
    color: white;
    padding: 12px 25px 0 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left; 
}

.cartDiv img {
    width: 30px;
    height: auto;
}
.cartDiv2 {
    grid-column-start: 4;
    grid-row-start: 1;
    color: white;
    padding: 52px 25px 0 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left; 
}

.cartDiv2 img {
    width: 30px;
    height: auto;
}
.cartCounter {
    position: absolute;
    margin: 0 30px 0 0;
    padding: 0 5px;
    font-size: .7em;
    font-weight: 600;   
    font-family: 'Acme', sans-serif;
    color:#ff8cb0;
    background: white;
    border-radius: 50%;

}
.cartCounter2 {
    position: absolute;
    margin: 0 30px 0 0;
    padding: 0 5px;
    font-size: .8em;
    font-weight: 600;   
    font-family: 'Acme', sans-serif;
    color:#ff8cb0;
    background: white;
    border-radius: 50%;

}
.cartDiv a {
    margin: 0;
}

.wishList{
    padding: 12px 0 0 0;
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: left;
    margin: 0 0 0 80px;

}
.wishList img{
    width: 32px;
    height: auto;

}
.wishList2 {
    padding: 52px 0 0 0;
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: left;
    margin: 0 0 0 80px;

}
.wishList2 img{
    width: 32px;
    height: auto;

}

.mainLogo {
    /* background-image: url("/images/lightgray.jpg"); */
    margin:0;
    padding: 25px 0 30px;
    text-align: center;

}
.logoImg {
    width: 400px;
    height: auto;
    margin:0;
    padding:0;

}

.logoImg2Div {
    grid-column-start: 2;
   
}
.logoImg2 {
    width:175px;
    height: auto;
    margin: 10px 0;
    padding:0;
}
.navbarEmma a {
    grid-column-start: 3;
}

.menuContainer {
    display:grid;
    grid-template-columns: 5% 60% 25% 10%;
    margin: 0 0 0 0;
    border-bottom: #ff8cb0 1px solid;
    box-shadow: 1px 1px 6px lightgray;
}
.mainLinks {
    grid-column-start: 2;

}
.skirtLink {
    float:left; 
    text-align:center;
}
.suspenderSkirtLink {
    float:left; 
    text-align:center;
}
.outfitLink {
    float:left; 
    text-align:center;
}
.bloomerLink {
    float:left; 
    text-align:center;
}
.girlShirtLink {
    float:left; 
    text-align:center;
}
.boyShirtLink {
    float:left; 
    text-align:center;
}
.searchLink {
    text-align:right;
}

.btnMenu {
    background: white;
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    color: #ff8cb0;
    padding: 7px 10px 0;
    transition-duration: 1s;

    padding-bottom: 1px;
    background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
    background-size: 0px 1px;
    transition: 0.3s;
    text-decoration: none;
    
}
.btnMenu:hover{
    cursor: pointer;
    color: rgb(175, 175, 175);
    background-size: 100% 1.5px;

}
.btnMenu:focus{
    outline:none;
}

.searchBtn {
    background-color: white;
    border: none;
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #ff8cb0;
}

.searchBtn:hover{
    cursor: pointer;
    color: rgb(255, 140, 176, .7);
}

.searchBtn:focus{
    outline:none;
}

.searchText {
    border: #ff8cb0 1px solid;
    font-family: 'Montserrat', sans-serif;
    color: #ff8cb0;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 6px 0;

}
.searchText:focus{
    outline:none;
}

/* main page */

/* carousel */

.carouselContainer {
    border-top: rgb(255, 140, 176) 5px solid;
    /* border-bottom: rgb(255, 140, 176) 5px solid; */
    background: #ff8cb0;


}

.carouselImg:hover {
    cursor:pointer;
}

.carouselForm {
    margin:0;
    padding:0;
}


/* //cards main page */

.cardContainer {
    display:grid;
    grid-template-columns: 10% 25% 25% 25% auto;
    grid-gap: 20px;
    margin: 60px 0;
    padding:0;

}

.cardItem{
    background: white;
    /* width: 375px;
    height: 500px; */
    border: rgb(255, 140, 176, .5) 10px solid;
    padding:10px;
    width: 100%;
    height: 100%;
}

.imgCard {
    width: 100%;
    height: 100%;
}
.imgCard:hover {
    opacity:.8 ;
    cursor: pointer;
}
.imgCard:focus {
    outline: none;
}
.imgCard:active {
    width: 99%;
    height: 99%;
}
.skirtCard, .btnCard{
    margin: 0;
    padding: 0;
    border: none;
}

.card1 {
    grid-column-start: 2;   
    
}
.card2 {
    grid-column-start: 3;
  
}
.card3 {
    grid-column-start: 4;

}


/* footer */

.footerContainer {

    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top: 50px;
    padding: 10px 0 20px;
    background: rgb(255, 140, 176, .4);
    text-align: justify;
    border-top: rgba(128, 128, 128, 0.8) 1px solid;
}

.footerContainer h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:1;
    text-align: center;
    font-family: 'SmoothieShoppe';
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px black;
}

.iconDiv {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    text-align: center;
    margin: 0 0 10px 0;
}

.footerItem a {
    color:#808080;

}
.footerItem a:active {
    color:gray;

}
.footerItem a:visited {
    color:gray;
}

.iconImg {
    width: 35px;
    margin: 0 8px;
    opacity: .8;
}
.iconImg:hover {
    opacity: 1;
}

.iconDivTop {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    text-align: left;
    padding: 0 0 0 5px;
}
.iconImg2 {
    width: 25px;
    margin: 12px 5px;
    opacity: .8;
    /* transition: .3s; */
}
.iconImg2:hover {
    opacity: 1;
}

.iconDiv h3 {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    color: gray;
    margin: 0 0 15px;

}

.footerItem {
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: gray;
    margin:0;

}

.footerText2 {
    grid-column-start: 2;
    grid-row-start:3;


}
.footerText2 h3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: gray;
    margin: 0 0 5px;

}
.footerText2 p {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: gray;


}



/* login page */
.loginContainer {
    min-height: 65vh;
}
.registerContainer {
    min-height: 65vh;
}

.loginCard {
    margin-top: 50px;
}
.loginCardTitle {
    background: rgb(255, 140, 176);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color:white;
}


.loginBtn {
    background: rgb(255, 140, 176);
    border:none;
    font-family: 'Montserrat', sans-serif;

}
.loginBtn:hover {
    background: rgb(255, 140, 176, 0.6);
    border:none;

}

.loginBtnLink {
    color: black;
}

.loginBtnLink:hover {
    color: black;
}

.form-control:focus {
border-color: rgb(255, 140, 176, 0.5);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(255, 140, 176, 0.5);
}

/* media queries */

@media screen and (min-width: 900px) and (max-width: 1080px) {

    .navbarEmma{
        display:grid;
        grid-template-columns: 65% 15% 20%;
    }
    .horizontal_dotted_line{
        grid-column-start: 1;
        grid-column-end: 4;
      } 
    .horizontal_dotted_line2 {
        grid-column-start: 1;
        grid-column-end: 4; 
      } 
      .horizontal_dotted_line2A { 
        grid-column-start: 1;
        grid-column-end: 4;
      } 
      .navContainerEmma {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .dropdownEmma {
        grid-column-start: 1;
      }
      .dropdownEmma2 {
        grid-column-start: 1;
      }
      .cartDiv {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .cartDiv2 {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .wishList{
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .wishList2 {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .iconDivTop {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
    }

    .menuContainer {
        display:grid;
        grid-template-columns: 70% 30%;
    }
    .searchBtn {
        font-family: 'Mukta', sans-serif;
        font-size: .8em;
    }
    .searchText {
        width: 150px;
        font-size: .7em;
    
    }

    .mainLinks {
        grid-column-start: 1;
    
    }
    .searchLink {
        text-align:right;
        margin-left: 20px;
    }
    .logoImg2Div {
        grid-column-start: 1;
        margin-left: 30px;
       
    }
    .cardContainer {
        display:grid;
        grid-template-columns: 2% 30% 30% 30% 2%;
        grid-gap: 10px;
    
    }
    .imgCard {
        width: 100%;
        height: 100%;
    }
    .cardItem{
        background: white;
        border: rgb(255, 140, 176, .5) 8px solid;
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 650px) and (max-width: 900px){

    .btnMenu {
        display: inline-block;
        /* padding: 5px 15px; */
    }

    .skirtLink {
        float:none; 
        text-align:left;
    }
    .suspenderSkirtLink {
        float:none; 
        text-align:left;
    }
    .outfitLink {
        float:none; 
        text-align:left;
    }
    .bloomerLink {
        float:none; 
        text-align:left;
    }
    .girlShirtLink {
        float:none;
        text-align:left;
    }
    .boyShirtLink {
        float:none;
        text-align:left;
        padding:0;
    }
 
    .navbarEmma{
        display:grid;
        grid-template-columns: 10% 50% 20% 20%;
    }
    .horizontal_dotted_line{
        grid-column-start: 1;
        grid-column-end: 5;
      } 
    .horizontal_dotted_line2 {
        grid-column-start: 1;
        grid-column-end: 5; 
      } 
      .horizontal_dotted_line2A { 
        grid-column-start: 1;
        grid-column-end: 5;
      } 
      .navContainerEmma {
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .dropdownEmma {
        grid-column-start: 1;
      }
      .dropdownEmma2 {
        grid-column-start: 1;
      }
      .cartDiv {
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .cartDiv2 {
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .wishList{
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .wishList2 {
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .iconDivTop {
        visibility: hidden;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
    }

    .mainLinks {
        grid-column-start: 1;
    
    }

    .logoImg2Div {
        grid-column-start: 1;
        margin-left: 30px;
       
    }
    .cardContainer {
        display:grid;
        grid-template-columns: 2% 30% 30% 30% 2%;
        grid-gap: 10px;
    
    }
    .imgCard {
        width: 100%;
        height: 100%;
    }
    .cardItem{
        background: white;
        border: rgb(255, 140, 176, .5) 3px solid;
        width: 100%;
        height: 100%;
    }
    .logoImg {
        width: 300px;
        height: auto;
        margin:0;
        padding:0;
    
    }
    .logoImg2Div {
        grid-column-start: 2;
        text-align: left;
       
    }
    .logoImg2 {
        width:175px;
        height: auto;
        margin: 10px 0;
        padding:0;
    }
      

}
@media screen and (min-width: 450px) and (max-width: 650px) {

    .skirt {
        width: 100%;
        text-align: left;
        margin-top:15px;
    }
    .outfitLink {
        width: 100%;
        text-align: left;
    }
    .boyShirtLink {
        width: 100%;
        text-align: left;
        margin-bottom:10px;
    }

     .navbarEmma{
        display:grid;
        grid-template-columns: 10% 40% 30% 20%;
    }
    .btnMenu {
        display: inline-block;
        /* padding: 5px 15px; */
    }
    
    .iconDivTop {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        text-align: left;
        padding: 0 0 0 20px;
    }

    .cardContainer {
        display:grid;
        grid-template-columns: 3% 30% 30% 30% 3%;
        grid-gap: 2px;
    
    }
    .imgCard {
        width: 100%;
        height: 100%;
    }
    .cardItem{
        background: white;
        border: rgb(255, 140, 176, .5) 3px solid;
        width: 100%;
        height: 100%;
    }
    .horizontal_dotted_line2 { 
        top: 48px;
        width: 100%;
      } 
      .dropbtnEmma2 {
        padding: 20px 5px 0 0;
      }
      .cartDiv2 {
        padding: 12px 0 0 0;
    }
      .wishList {
        margin-left: 60px;
       
    }
      .wishList2 {
        margin-left: 60px;
        padding: 12px 0 0 0;
       
    }
    .logoImg2Div {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        text-align: center;
        /* width: 80px; */
       
    }
    .logoImg2 {
        visibility: visible;
        width:100px;
        height: auto;
        margin: 10px 0 0 5px;
        padding:0;
        text-align: center;
    }





}
@media screen and (max-width: 450px) {
    .skirt {
        width: 100%;
        text-align: left;
        margin-top:15px;
    }
    .outfitLink {
        width: 100%;
        text-align: left;
    }
    .boyShirtLink {
        width: 100%;
        text-align: left;
        margin-bottom:15px;
    }

    .navbarEmma{
        display:grid;
        grid-template-columns: 5% 10% 40% 40% 5%;
    }

    .iconDivTop {
        visibility: visible;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        margin-top: 4px;
    }
    .iconImg2 {
        width: 20px;
        margin: 0;
        opacity: .8;
        /* transition: .3s; */
    }

    .horizontal_dotted_line2 {
        top: 48px;     
      }  
      .logoImg {
        width: 250px;
        height: auto;
        margin:0;
        padding:0;
    
    }
    .mainLogo {
        padding: 10px 0;
    }
    .carouselContainer {
        border-top: rgb(255, 140, 176) 2px solid;
        border-bottom: rgb(255, 140, 176) 2px solid;
        border-bottom: rgb(255, 140, 176) 5px solid;
        background: #ff8cb0;
        height: 150px;
    }
    .carouselImg {
        width: auto;
        height: 150px;
    }

    .cardContainer {
        display:grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-gap: 4px;
        margin: 20px 0;
        padding:0;
    
    }
    .card1 {
        grid-column-start: 2; 
        grid-row-start: 1;  
        
    }
    .card2 {
        grid-column-start: 3;
        grid-row-start: 1;  
      
    }
    .card3 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;  
    
    }
    .cardItem{
        background: white;
        /* width: 375px;
        height: 500px; */
        border: rgb(255, 140, 176, .5) 3px solid;
        padding:10px;
        width: 100%;
        height: 100%;
    }
    .logoImg2Div {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        text-align: center;
        /* width: 80px; */
       
    }

    .logoImg2 {
        visibility: visible;
        width:80px;
        height: auto;
        margin: 10px 0 0 5px;
        padding:0;
        text-align: center;
    }
    .logginIconImg {
        width:20px;
        padding: 5px 0 5px 5px;
    }
    .dropbtnEmma {
        font-size: .7em; 
      }

    .dropbtnEmma2 {
        padding: 15px 0 0 0;
        font-size: .7em; 
      }

    .cartDiv img {
        width: 20px;
        height: auto;
    }
    .cartCounter {
        padding: 0 5px;
        font-size: .5em;
    }
    .cartCounter2 {
        padding: 0 5px;
        font-size: .5em;
    }
    
    .cartDiv2 img {
        width: 20px;
        height: auto;
    }

    .wishList {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        padding: 15px 0 0 0;
        margin-left: 15px;
        z-index: 5;
        width: 25px;
    }

    .wishList img{
        width: 25px;
        height: auto;
        /* margin: 0 20px 0 0; */
    }
    .wishList2 img{
        width: 25px;
        height: auto;
    }

    .wishList2 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        padding: 10px 0 0 0;
        margin-left: 15px;
        z-index: 5;
        width: 25px;
    }

    .navContainerEmma {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        text-align: right;
        margin:0;
        
      }

      .dropdownEmma-content {
        top: 55px;
        left: 40px;
        min-width: 90px;
      }


    .navContainerEmma2 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 1;
        text-align: right;
        
        
      }
      .dropdownEmma-content2 {
        top: 55px;
        left: 40px;
        min-width: 90px;
      }

      .horizontal_dotted_line2A { 
        top: 78px;
        width: 100%;
      } 

}
@media screen and (min-width: 400px) and (max-width: 450px) {

      .dropdownEmma {
        text-align: right;
        margin-right: 50px;
        z-index: 5;
        /* width: 80px; */
      }
      .dropdownEmma2 {
        padding: 3px 0 0 0;
        text-align: right;
        margin-right: 75px;
        z-index: 1;
      }

    .cartDiv {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        padding: 15px 0 0 0;
        margin-left: 130px;
        z-index: 5;
        width: 30px;
    }

    .cartDiv2 {
        padding: 12px 0 0 0;
        margin-left: 130px;
        z-index: 5;
        width: 30px;
    }

}


@media screen and (min-width: 350px) and (max-width: 400px) {
    
      .dropdownEmma {
        text-align: right;
        margin-right: 40px;
        z-index: 5;
        /* width: 80px; */
      }
      .dropdownEmma2 {
        padding: 3px 0 0 0;
        text-align: right;
        margin-right: 65px;
        z-index: 1;
      }

    .cartDiv {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        padding: 15px 0 0 0;
        margin-left: 110px;
        z-index: 5;
        width: 30px;
    }

    .cartDiv2 {
        padding: 12px 0 0 0;
        margin-left: 110px;
        z-index: 5;
        width: 30px;
    }
    .footerContainer h1 {
        font-size: 1.5em;
    }
    .iconDiv h3 {
        font-size: .8em;

    }
    .footerText2 h3 {
        font-size: .8em;
    }
    .footerText2 p {
        font-size: .8em;
    }

}

@media screen and (max-width: 350px) {

      .dropdownEmma {
        text-align: right;
        margin-right: 25px;
        z-index: 5;
        /* width: 80px; */
      }
      .dropdownEmma2 {
        padding: 3px 0 0 0;
        text-align: right;
        margin-right: 50px;
        z-index: 1;
      }

    .cartDiv {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        padding: 15px 0 0 0;
        margin-left: 100px;
        z-index: 5;
        width: 30px;
    }

    .cartDiv2 {
        padding: 12px 0 0 0;
        margin-left: 100px;
        z-index: 5;
        width: 30px;
    }
    

    .footerContainer h1 {
        font-size: 1.5em;
    }
    .iconDiv h3 {
        font-size: .8em;

    }
    .footerText2 h3 {
        font-size: .8em;
    }
    .footerText2 p {
        font-size: .8em;
    }


}









/* font-family: 'Patua One', cursive;
font-family: 'Cherry Cream Soda', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Homenaje', sans-serif;
font-family: 'Mukta Malar', sans-serif; */

/* font-family: 'Comfortaa', cursive;
font-family: 'Teko', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Prompt', sans-serif; */