.wishListwrapper {
    min-height: 65vh;
}

.wishListContainer {
    
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.wishListContainer h1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    text-align: center;
    font-family: 'SmoothieShoppe';
    padding: 15px 0 10px 10px;
    margin: 10px 0;
    color: rgb(255, 140, 176);
}
.wishListResult {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 20px;
}
.wishListItemsDiv {
    position: relative;
    width: 100%;
}

.wishListItemsDiv:hover .overlay {
    opacity: .9;
    cursor: pointer;
  }
  
  .wishListItemsDiv:hover .middle {
    opacity: 1;
    top: 50%;
  }
  
 .wishListItems {
     text-align: center;
     background: rgb(255, 255, 255, .6);
     border: rgb(255, 140, 176, .7) 1.5px solid;
     border-radius: 10px;
     box-shadow: 3px 3px 12px rgb(0, 0, 0, .3);
     width: 100%;
     height: 100%;
}
 .wishListItems p {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.1em;
    padding: 5px 0;
    margin: 10px 0;
    color: rgb(0, 0, 0, .6);
    font-weight: 700;
}
.wishListImg {
    width: 200px; 
    border: rgb(255, 140, 176, .7) 1.5px solid;
    border-radius: 20px 0;
    margin: 0 0 20px 0;
}
.itemWishPrice {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
}
.itemWishPrice p:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: gray;
    font-weight: 700;
    margin:0;
    padding: 5px;

}
.itemWishPrice p:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 700;   
    color: gray;
    margin:0;
    padding: 5px;
}

.wishInfo {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    width: 60%;
    border: none;
    background: rgb(255, 255, 255, .9);
    color: #ff8cb0;
    border: #ff8cb0 2px solid;
    text-decoration: none;
    border-radius: 8px;
}
.wishInfo a {
    color: white;
    text-decoration: none;
}
.wishInfo:hover {
    cursor: pointer;
    background: #ff8cb0;
    color: white;
 } 
 .wishInfo:focus {
    outline: none;
  } 

 .deleteBtn img {
    width:30px;
    margin: 10px 0 0 0;
}
.deleteBtn {
    background: none;
    border: none;
    padding-bottom: 5px;
}
.deleteBtn:hover {
    cursor: pointer;
}
.deleteBtn:focus {
    outline:none;
 }


 @media screen and (min-width: 900px) and (max-width: 1080px) {
    .wishListResult {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 20px;
    }

 }

 @media screen and (min-width: 600px) and (max-width: 900px) {

    .wishListResult {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }




 }
 @media screen and (max-width: 600px) {

    .wishListResult {
        display: grid;
        grid-template-columns:100%;
    }

 }